<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="mrEhawk.Salus" 
            Version="1.0.0.0"
            Publisher="CN=Ehawk, O=mrEhawk, L=Buffalo, S=New York, C=US" />
  <Properties>
    <DisplayName>Salus</DisplayName>
    <PublisherDisplayName>Ehawk</PublisherDisplayName>
    <Logo>images\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="SafePlan" StartPage="http://www.ehawk.us/SafePlan/suApp.html">
      <VisualElements DisplayName="Salus" Description="Salus is a mental health application to help keep track, monitor, and assist people with their mental health conditions."
           Logo="images\squareTile-sdk.png" SmallLogo="images\smallTile-sdk.png"   
            ForegroundText="dark" BackgroundColor="#FFFFFF">
          <SplashScreen Image="images\splash.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>
